body {
  margin: 0;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

header {
  background-color: dimgrey;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  border: 1px solid black;

}

footer form {
  display: flex;
  align-items: stretch;
}

footer form input {
  flex: 1;
}

main {
  background-color: slategrey;
  overflow-y: auto;
}
