body {
  margin: 0;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

header {
  background-color: blue;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;

}

footer form {
  display: flex;
  align-items: stretch;
}

footer form input {
  flex: 1;
}

main {
  background-color: slategrey;
  overflow-y: auto;
}
